body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#background {
  width: 100%;
  min-width: 100%;
  min-height: 130%;
  height: 130%;
  overflow-x: hidden;
  overflow-y: hidden;
  background: linear-gradient(0deg, white, blue 80%) ;
}

#background video  {
  z-index: -1;
  position: fixed;
  right: -5%;
  bottom: -5%;
  min-width: 110vh;
  min-height: 110vh;
}