.cta {
    font-family: 'Source Code Pro', monospace;
    letter-spacing: -.2px;
}

.cta h1 {
    margin: 22px;
    font-size: 22px;
    font-weight: 500;
}

.cta b {
    font-size: 24px;
    font-weight: 400;
    font-family: 'Nidus Sans';
}

.cta button {
    letter-spacing: none;
    position: relative;
    border: none;
    background-color: transparent;
    padding: 8px 8px 8px 40px;
    margin: 12px;
    font-size: 20px;
    font-family: 'Source Code Pro', monospace;
    border: 2px solid;
    cursor: pointer;
    outline: inherit;
    font-weight: 400;
    color: #1a2327;
}

.cta button:hover {
    border: 2px solid;
}

.cta button:active {
    color:  #ECEFF1;
    border-color: #ECEFF1;
}

.cta button img {
    position: absolute;
    left: 4px;
    top: 5px;
    width: 32px;
}


.cta button img.loading {
    animation: rotate 2s infinite steps(4);
}

@keyframes rotate {
    100% {
        transform: rotateZ(360deg);
    }
}


/* phones */
@media (max-width: 599px) {
    .cta h1 {

    }
    .cta button  {
        padding: 8px 8px 8px 36px;
        font-size: 18px;
    }
    .cta b {
        font-size: 21px;
    }
    .cta button img {
        width: 27px;
    }
}

/* tablets */
@media (min-width: 600px) {
    .cta h1 {
        font-size: 22px;
    }
    .cta button {
        font-size: 22px;
        padding: 8px 8px 8px 42px;
    }
    .cta button img {
        width: 32px;
    }
}

/* small desktop windows */
@media (min-width: 900px) {
    .cta h1,
    .cta button {
        font-size: 24px;
    }
    .cta button {
        letter-spacing: -.2px;
        padding: 8px 8px 8px 42px;
    }
    .cta button img {
        width: 34px;
    }
}

/* standard max-size desktop windows */
@media (min-width: 1200px) {
    .cta h1 {
        font-size: 26px;
        letter-spacing: -.2px;
    }
    .cta b {
        font-size: 28px;
    }
    .cta button {
        letter-spacing: -.2px;
        padding: 10px 10px 10px 46px;
    }
    .cta button img {
        left: 6px;
        top: 7px;
        width: 34px;
    }
    .cta button img {
        width: 35px;
    }
}

/* desk workstations */
@media (min-width: 1800px) {

}
