.cta {
    font-family: 'Source Code Pro', monospace;
    font-size: 22px;
    height: 100%;
    padding-top: 382px;
}

.cta b {
    font-size: 24px;
    font-weight: 400;
    font-family: 'Nidus Sans';
}

.cta button {
    border: none;
    background-color: transparent;
    padding: 8px;
    margin: 12px;
    font-size: 20px;
    font-family: 'Source Code Pro', monospace;
    border: 2px solid;
    cursor: pointer;
    outline: inherit;
    font-weight: 400;
    color: #1a2327;
}

.cta button:hover {
    border: 2px solid;
}

.cta button:active {
    color:  #ECEFF1;
    border-color: #ECEFF1;
}