header {
    position: fixed;
    top: 0;
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 16px 0 0 108px;
    font-family: 'Nidus Sans';
    cursor: pointer;
}

.logo {
    font-weight: bold;
    font-size: 40px;
}

.views {
    padding: 2px 0 0 24px;
    font-size: 24px;
    margin: 0;
    list-style: none;
}
  
.views li {
    display: inline;
    padding-right: 20px;
    cursor: pointer;
}

.views li:hover {
    text-decoration: underline;
}

.views li:active {
    color: #ECEFF1;
    user-select: none;
}

/* phones */
@media (max-width: 599px) {
    header {
        /* 108 */
        padding: 16px 0 0 48px;
    }
    .views {
        font-size: 14px;
        text-decoration: underline;
    }
    .logo {
        font-size: 20px;
    }
}

/* tablets */
@media (min-width: 600px) { 

}

/* small desktop windows */
@media (min-width: 900px) {
}

/* standard max-size desktop windows */
@media (min-width: 1200px) {
}

/* desk workstations */
@media (min-width: 1800px) {
}