.location {
    font-size: 24px;
    font-family: 'Source Code Pro', monospace;
    letter-spacing: -.2px;
    z-index: 1000;
    cursor: pointer;
}

.location:hover {
    text-decoration: underline;
}
  
.rainfall {
    font-family: 'Roboto';
    font-size: 158px;
    line-height: 88px;
    padding: 36px 0 24px;
    font-weight: bold;
    z-index: 0;
    user-select: none;
    pointer-events: none;
}
  
.units {
    margin-left: -16px;
    font-family: 'Nidus Sans';
    font-size: 90px;
}
  
ul.intervals {
    font-family: 'Source Code Pro', monospace;
    font-weight: 500;
    margin: 0;
    list-style: none;
}
  
ul.intervals li {
    font-size: 28px;
    display: inline;
    padding-right: 24px;
    cursor: pointer;
}

ul.intervals li:hover {
    text-decoration: underline;
}

ul.intervals li:active {
    color: #ECEFF1;
}

.location img {
    width: 24px;
    margin-bottom: -4px;
    padding-right: 8px;
    cursor: pointer;
}

/* phones */
@media (max-width: 599px) {
    .rainfall {
        font-size: 90px;
        line-height: 88px;
        padding: 24px 0 12px;
    }

    .units {
        font-size: 40px;
    }

    .location,
    ul.intervals li {
        font-size: 22px;
    }
}

/* tablets */
@media (min-width: 600px) {
    .rainfall {
        font-size: 108px;
        padding: 24px 0 12px;
    }

    .units {
        font-size: 40px;
    }

    .location,
    ul.intervals li {
        font-size: 24px;
    }
}

/* small desktop windows */
@media (min-width: 900px) {
    .rainfall {
        font-size: 158px;
        padding: 36px 0 24px;
    }

    .units {
        font-size: 90px;
    }

    .location,
    ul.intervals li {
        font-size: 24px;
    }
}

/* standard max-size desktop windows */
@media (min-width: 1200px) {
    .rainfall {
        font-size: 172px;
        line-height: 90px;
        padding: 40px 0 28px;
    }
}

/* desk workstations */
@media (min-width: 1800px) {

}