.about {
    padding: 0 72px 0 56px;
    text-align: left;
    font-family: 'Source Code Pro', monospace;
    font-size: 22px;
    height: 100%;
    padding-top: 280px;
    letter-spacing: -.1px;
}

.about b {
    font-size: 24px;
    font-weight: 400;
    font-family: 'Nidus Sans';
}