.about {
    text-align: left;
    font-family: 'Source Code Pro', monospace;
    font-size: 22px;
    letter-spacing: -.1px;
    margin: 108px 16px 16px;
    height: 100%;
}

.about b {
    font-weight: 400;
    font-family: 'Nidus Sans';
}

.about b span.tm {
    font-family: 'Source Code Pro', monospace;
    padding-left: 2px;
}

.about .signature {
    margin: 8px 0px 0px;
    width: 420px;
}

/* phones */
@media (max-width: 599px) {
    .about {
        font-size: 12px;
    }
    .about .signature {
        width: 100%;
    }
}

/* tablets */
@media (min-width: 600px) {
    .about {
        font-size: 18px;
    }

    .signature {
        width: 420px;
    }
}

/* small desktop windows */
@media (min-width: 900px) {
    .about {
        font-size: 22px;
    }
}

/* standard max-size desktop windows */
@media (min-width: 1200px) {
}

/* desk workstations */
@media (min-width: 1800px) {
    
}