.about {
    padding: 184px 72px 0 56px;
    text-align: left;
    font-family: 'Source Code Pro', monospace;
    font-size: 22px;
    height: 100%;
    letter-spacing: -.1px;
}

.about b {
    font-size: 24px;
    font-weight: 400;
    font-family: 'Nidus Sans';
}

.about b span.tm {
    font-family: 'Source Code Pro', monospace;
    padding-left: 2px;
}

.about img {
    margin: 8px 0px 0px;
    width: 420px;
}